#rodape{
	background-color: pink;
}
#postar{

	width: 70%;
	margin: 90px auto;
	
}
#login{
	width: 70%;
	margin: 90px auto;
}
#conteudo{
	width: 70%;
	margin: 90px auto;
}
p{
	text-align-last: center;
}

.parallax-window {
    min-height: 450px;
    background: transparent;
}

body{
    margin: 0;
    padding: 0;
}
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: space-between;
    background: url("imagens/foto.png") center center no-repeat;
    background-size: cover;
}
.hero-full-screen{
    width: 100%;
}
.hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: pink;
}
#cor{
	background-color: pink;
}
